*,
*::before,
*::after {
    box-sizing: border-box;
}

 :root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Russo One', monospace;
    --ff-logo: 'Russo One', monospace;
    --fw-reg: 300;
    --fw-article-card: 600;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-med: rgb(139, 139, 139);
    --clr-dark: #303030;
    --clr-accent: #5CE1FF;
    --clr-article-title: #555;
    --clr-header: #555;
    --clr-topic-env: #52796F;
    --clr-topic-edu: #1F739D;
    --clr-topic-comm: #8A3222;
    --fs-h1: 1.5rem;
    --fs-h2: 1.25rem;
    --fs-h3: 1.15rem;
    --fs-tiny: 1rem;
    --fs-body: 1rem;
    --bs-nhc: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    --bs-hc: 0 8px 16px 0 rgba(2, 1, 1, 0.25);
}


/* General */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    grid-column: 2;
    max-width: 100ch;
    justify-self: center;
    border-radius: 50%;
    padding: 1em;
}


/* Media Queries */

@media (min-width: 480px) {}

@media (min-width: 800px) {}

@media (min-width: 1100px) {}


/* Typography */

strong {
    font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
    grid-column: 2;
    line-height: 1;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

p {
    grid-column: 2;
}

ul,
li {
    grid-column: 2;
    margin: 1;
}


/* Navigation */

.header {
    padding: 10px 16px;
    background: var(--clr-header);
    color: var(--clr-med);
}

.sticky {
    position: sticky;
    top: 0;
}

.logo {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    padding: 0;
    margin-top: .5em;
    margin-bottom: -.5em;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: var(--clr-light);
}

.logo a:visited {
    text-decoration: none;
    color: var(--clr-light);
}

.logo-colored {
    color: var(--clr-accent);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.nav-list-items {
    margin: 0 .5em;
}

.nav-list-items a {
    text-decoration: none;
    color: var(--clr-light);
}

.nav-list-items:hover {
    opacity: .7;
}

.breadcrumbs {
    align-items: center;
    display: flex;
    margin: 1em;
}

.seperator {
    margin: 0 .75em;
}


/* Content */

.page {
    display: grid;
    grid-template-areas: "header header header" "navigation main ads" "footer footer footer";
    grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 85ch) minmax(1.2rem, 1fr);
}

.article-card {
    grid-column: 2;
    background-color: var(--clr-light);
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
    box-shadow: var(--bs-nhc);
}

.article-card:hover {
    box-shadow: var(--bs-hc);
}

.article-card-title {
    color: var(--clr-article-title);
    padding-right: .5em;
}

.article-card-title a {
    color: var(--clr-article-title);
    text-decoration: none;
}

.article-card-date {
    color: var(--clr-med);
}

.article-card-rt {
    padding: 1em;
}

.article-card-icon {
    color: var(--clr-header);
}

.article-card-topic {
    background-color: var(--clr-header);
    padding: .125em;
    color: var(--clr-light);
    font-weight: 100;
    border-radius: .25em;
    grid-column: 3;
}

.article-card-topic-seo {
    background-color: var(--clr-header);
    padding: .125em;
    color: var(--clr-light);
    font-weight: 100;
    border-radius: .25em;
    float: right;
}

.article-card-topic-env {
    background-color: var(--clr-topic-env);
    padding: .125em;
    color: var(--clr-light);
    font-weight: 100;
    border-radius: .25em;
    float: right;
}

.article-card-topic-edu {
    background-color: var(--clr-topic-edu);
    padding: .125em;
    color: var(--clr-light);
    font-weight: 100;
    border-radius: .25em;
    float: right;
}

.article-card-topic-comm {
    background-color: var(--clr-topic-comm);
    padding: .125em;
    color: var(--clr-light);
    font-weight: 100;
    border-radius: .25em;
    float: right;
}

.about-me {
    grid-column: 4;
}


/* Footer */

.footer {
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: .125em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link {
    font-weight: var(--fw-reg);
}

.footer-link:hover,
.social-list-link:hover {
    opacity: .7;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: var(--clr-light);
    font-size: var(--fs-tiny);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-items {
    margin: 0 .5em;
}

.social-list-link {
    padding: .5em;
}