*,
*::before,
*::after {
    box-sizing: border-box;
}

 :root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --fw-reg: 300;
    --fw-med: 500;
    --fw-bold: 600;
    --clr-light: #fff;
    --clr-med: #4C1A1A;
    --clr-dark: #303030;
    --clr-accent: #5CE1FF;
    --clr-article-title: #555;
    --clr-header: #555;
    --clr-topic-env: #52796F;
    --clr-topic-edu: #1F739D;
    --clr-topic-comm: #8A3222;
    --clr-twitter: #1DA1F2;
    --clr-facebook: #3977f2;
    --fs-h1: 1.5rem;
    --fs-h2: 1.25rem;
    --fs-h3: 1.15rem;
    --fs-tiny: .85rem;
    --fs-body: 1rem;
    --bs-nhc: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    --bs-hc: 0 8px 16px 0 rgba(2, 1, 1, 0.25);
}


/* Fonts */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/source-sans-pro-v13-latin-ext_latin-300.woff2') format('woff2'), url('../fonts/source-sans-pro-v13-latin-ext_latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url('../fonts/source-sans-pro-v13-latin-ext_latin-600.woff2') format('woff2'), url('../fonts/source-sans-pro-v13-latin-ext_latin-600.woff') format('woff');
}


/* General */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    line-height: 1.6;
}

img {
    grid-column: 2;
    max-width: 100ch;
    padding-top: 1em;
}


/* Typography */

h1,
h2,
h3 {
    font-weight: var(--fw-bold);
    grid-column: 2;
    line-height: 1;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

p {
    grid-column: 2;
}

ul,
li {
    grid-column: 2;
    margin: 1;
}

hr {
    grid-column: 2;
    color: var(--clr-dark);
}


/* Navigation */

.header {
    padding: .125em .0125em;
    background: var(--clr-light);
    color: var(--clr-med);
    position: relative;
    top: 0;
}

.logo-twitter {
    color: var(--clr-twitter);
}

.logo-facebook {
    color: var(--clr-facebook);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: .125em 0 0;
    padding: 0;
}

.nav-list-items {
    margin: 0 .5em;
    text-align: right;
    font-size: var(--fs-tiny);
}

.nav-list-items a {
    text-decoration: none;
    color: var(--clr-topic-env);
}

.nav-list-items:hover {
    opacity: .7;
}

.link-blog a {
    background-color: var(--clr-topic-env);
    color: var(--clr-light);
    padding: .5em;
}


/* Content */

.page {
    display: grid;
    grid-template-areas: "header header header" "navigation main ads" "footer footer footer";
    grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 85ch) minmax(1.2rem, 1fr);
}

.profile-img {
    grid-column: 2;
    max-width: 30%;
    justify-self: center;
    border-radius: 50%;
    margin-top: 2em;
    margin-bottom: -.5em;
    padding: .5em;
}

.home-title {
    justify-self: center;
}

.home-subtitle {
    justify-self: center;
    margin: 0em;
    font-weight: var(--fw-reg);
    padding-bottom: 2em;
}

.home-subtitle-job {
    color: #225c4e;
    font-weight: var(--fw-med);
}

.article-card {
    grid-column: 2;
    background-color: var(--clr-light);
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
    box-shadow: var(--bs-nhc);
}

.article-card:hover {
    box-shadow: var(--bs-hc);
}

.article-card-title {
    color: var(--clr-article-title);
    padding-right: .5em;
}

.article-card-title a {
    color: var(--clr-dark);
    text-decoration: none;
}

.article-card-date {
    color: var(--clr-med);
}

.article-card-rt {
    padding: 1em;
}

.article-card-icon {
    color: var(--clr-header);
}

.article-card-topic {
    background-color: var(--clr-header);
    padding: .125em;
    color: var(--clr-light);
    font-weight: 100;
    border-radius: .25em;
    grid-column: 3;
}

.article-card-topic-seo {
    background-color: var(--clr-header);
    padding: .125em;
    color: var(--clr-light);
    font-weight: 100;
    border-radius: .25em;
    float: right;
}

.article-card-topic-env {
    background-color: var(--clr-topic-env);
    padding: .125em;
    color: var(--clr-light);
    font-weight: 100;
    border-radius: .25em;
    float: right;
}

.article-card-topic-edu {
    background-color: var(--clr-topic-edu);
    padding: .125em;
    color: var(--clr-light);
    font-weight: 100;
    border-radius: .25em;
    float: right;
}

.article-card-topic-comm {
    background-color: var(--clr-topic-comm);
    padding: .125em;
    color: var(--clr-light);
    font-weight: 100;
    border-radius: .25em;
    float: right;
}

.article-meta-data {
    grid-column: 2;
    padding-right: 1em;
}

.article-meta-data-item {
    padding-right: .5em;
    margin: 0;
    color: var(--clr-med);
}

.article-share {
    grid-column: 2;
    padding-top: 1em;
}

.article-share-item {
    padding-right: 1em;
}

.about-me {
    grid-column: 4;
}

.article-topic {
    grid-column: 2;
    padding-top: 1em;
}

.article-topic-item {
    padding-right: .75em;
    font-size: var(--fs-tiny);
}

.article-headline {
    grid-column: 2;
    font-size: var(--fs-h3);
}

.article-hero {
    grid-column: 2;
    max-width: 100%;
    justify-self: center;
}

.reading-cards {
    grid-column: 2;
}

.reading-card-item {
    padding: 2em;
    background-color: var(--clr-light);
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
    border-radius: .25em;
    box-shadow: var(--bs-nhc);
}


/* Footer */

.footer {
    background: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    padding: .125em 0;
    font-size: var(--fs-tiny);
    border-top-color: var(--clr-dark);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link {
    font-weight: var(--fw-reg);
}

.footer-link:hover,
.social-list-link:hover {
    opacity: .7;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: var(--clr-dark);
    font-size: var(--fs-tiny);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-items {
    margin: 0 .5em;
}

.social-list-link {
    padding: .5em;
}